@import "tailwindcss";

@theme {
  --font-diplomata: "Diplomata", serif;
   --font-cormorant: "Cormorant Garamond", serif;
  --font-quintessential: "Quintessential", serif;
  --font-handwriting: "Nothing You Could Do", cursive;
  --font-love-light: "Love Light", cursive;
  --font-birthstone: "Birthstone", cursive;
  --font-cookie: "Cookie", cursive;
  --font-dancing: "Dancing Script", cursive;
}
@keyframes scrollDot {
  0% { transform: translateY(0); opacity: 0; }
  40% { opacity: 1; }
  80% { transform: translateY(20px); opacity: 0; }
  100% { opacity: 0; }
}
